body {
  text-align: center;
  color: #333;

  #index-content {
    margin-top: 80px;
  }

  #show-content {
    margin-top: 100px;
  }

  #map {
    height: 250px;
    width: 100%;
    margin-bottom: 40px;
  }

  #map-container {
     width: 33%;
     height: 100%;
     position: fixed;
     float: right;
     top: 0;
     right: 0;
     z-index: 0;
  }

  #nyc-map {
    height: 100%;
    width: 100%;
  }

  .navbar-fixed-top {
    font-family: 'Futura', 'Helvetica', sans-serif;
    font-size: 32px;
    font-weight: 900;
    padding: 10px;
    background: #FF9;
    z-index: 9999;
    border: none;
  }

  .filters {
    text-align: center;
    margin-bottom: 15px;
    padding: 15px;
    background: #f5f8fa;

    .select {
      display: inline-block;
      width: 148px;
      margin: 0px 5px;
    }
  }

  .reviews {
    text-align: left;

    .review {
      margin-bottom: 40px;


      .review-date {
        margin-left: 20px;
        color: #777;
      }
    }
  }

  .restaurant {
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 800px;

    h1 {
      margin: 0;
      margin-bottom: 5px;
      padding: 0;
      text-align: left;
    }

    .img-fluid {
      max-width: 100%;
      height: auto;
    }

    .restaurant-info {
      font-size: 18px;
      margin-top: 10px;
      text-align: left;

      h1 {
        font-size: 24px;
      }
    }
  }

  tr {
    td {
      vertical-align: top;
      padding: 5px 0px;
      font-size: 16px;
    }

    td:first-of-type {
      padding-right: 20px;
    }
  }

  form {
    margin-bottom: 40px;
    text-align: left;

    #stars {
      display: inline;
      font-size: 48px;
    }

    .btn {
      background: #006275;
      color: white;
    }

    .btn:focus,
    .btn:active,
    .btn:hover {
      background: #117386;
      color: white;
    }

    div.tooltip {
      visibility: hidden;
      opacity: 1;
      position: absolute;
      text-align: center;
      margin-left: 20px;
      max-width: 250px;
      padding: 10px;
      color: #112;
      line-height: 24px;
      font: 14px sans-serif;
      background: white;
      box-shadow: 0 2px 10px #222;
      border: 1px solid #222;
      border-radius: 2px;
      pointer-events: none;

      :after, :before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      :after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #fff;
        border-width: 10px;
        margin-left: -10px;
      }
      :before {
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: #222;
        border-width: 11px;
        margin-left: -11px;
      }

      .dot {
        color: white;
        font-weight: 900;
        background: #a94442;
        padding: 0px 7px;
        margin-right: 5px;
      }
    }
  }
}

.gm-style-pbt {
  display: none;
}

@media (max-width: 350px) {
  .navbar-fixed-top {
    font-size: 24px !important;
  }
}

@media (max-width: 379px) {
  .select {
    width: 80% !important;
    margin-bottom: 5px !important;
  }
}

@media (max-width: 991px) {
  #map-container {
    display: none;
  }
}
